* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

header, footer {
  width: 1150px;
  margin: 0 auto;
}

main {
  margin: 0 0 100px;
}

section {
  width: 1150px;
  margin: 80px auto;
}

.header {
  padding: 15px 0;
  display: flex;
  align-items: center;
  column-gap: 60px;
  border-bottom: 2px solid rgba(83, 109, 122, 0.29);

  &__img {
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;

    img {
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 119%;
      height: 119%;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 30px;

    &_item {
      display: flex;
      align-items: center;
      column-gap: 5px;

      a {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #1D2F38;
      }
    }
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ecf4fa;
  border-radius: 10px;

  &__img {
    width: 47%;
    position: relative;
    height: 450px;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 120%;
      max-height: 120%;
      min-height: 100%;
      min-width: 100%;
    }
  }

  &__content {
    width: 47%;
    padding: 49px 50px 49px 0;
  }

  &__subtitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #10843F;
  }

  &__title {
    margin: 10px 0 20px;
    font-family: 'Bitter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 52px;
    color: #1D2F38;
  }

  &__description {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
  }

  &__btn {
    margin: 25px 0 0;
    background: #17A550;
    border-radius: 5px;
    padding: 10px 40px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    display: block;
    width: 40%;
  }
}

.about {
  &__title {
    font-family: 'Bitter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 40px;
    color: #1D2F38;
  }

  &__row {
    margin: 35px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__main {
    width: 47%;
  }

  &__subtitle {
    font-family: 'Bitter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #1D2F38;
    margin: 10px 0 15px;
  }

  &__description {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #1D2F38;
  }

  &__list {
    width: 47%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
  }

  &__card {
    display: flex;
    align-items: center;
    column-gap: 15px;

    &_title {
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #1D2F38;
    }
  }
}

.banner {
  border-radius: 10px;
  padding: 50px 0;

  &__title {
    font-family: 'Bitter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #1D2F38;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 400px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100% !important;
    overflow: hidden !important;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 120%;
      max-height: 120%;
      min-width: 100%;
      min-height: 100%;
    }
  }
}

.reviews {
  &__title {
    font-family: 'Bitter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 40px;
    color: #1D2F38;
  }

  &__row {
    margin: 35px 0 0;
    display: flex;
    justify-content: space-between;
  }

  &__card {
    width: calc(100% / 3 - 80px / 3);

    &_img {
      display: flex;
      justify-content: center;
    }

    &_content {
      background: #F7F9FA;
      border-radius: 10px;
      padding: 25px 25px 40px 25px;
    }

    &_title {
      font-family: 'Bitter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 35px;
      color: #1D2F38;
      margin: 0 0 15px;
    }
  }
}

.contact {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../img/contactBg.png") center/cover no-repeat;

  &__list {
    width: 30%;
    display: flex;
    flex-direction: column;

    &_item {
      p {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
        color: #1D2F38;
        margin: 0 0 5px;
        font-weight: bold;
      }

      a {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #1D2F38;
      }

      &:nth-child(2) {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 10px 0;
        margin: 10px 0;
      }
    }
  }

  &__content {
    width: 50%;
  }

  &__title {
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-family: 'Bitter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #1D2F38;

    div {
      padding: 5px 0 0;
      position: relative;

      svg {
        position: relative;
        z-index: 2;
      }

      &::after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
      }
    }
  }

  &__subtitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1D2F38;
    margin: 40px 0 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    input {
      background: #FFFFFF;
      border: 1px solid #AABCC5;
      border-radius: 5px;
      padding: 15px;
      margin: 0 0 30px;
      width: 90%;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #536D7A;
    }

    button {
      background: #FFC728;
      border-radius: 5px;
      padding: 10px 0;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      border: none;
      width: 35%;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #536D7A;

  div {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #1D2F38;
  }
}


//media
@media (max-width: 1200px) {
  header, footer, section {
    width: 996px;
  }
}

@media (max-width: 996px) {
  header, footer, section {
    width: 768px;
  }

  section {
    margin: 50px auto;
  }

  .home {
    flex-direction: column-reverse;

    &__img {
      width: 100%;
    }

    &__content {
      width: 100%;
      padding: 40px 30px;
    }
  }

  .about {
    &__row {
      flex-direction: column;
      row-gap: 40px;
    }

    &__main {
      width: 100%;

      svg {
        display: block;
        margin: 0 auto;
      }
    }

    &__list {
      width: 100%;
    }
  }

  .banner {
    .swiper-slide {
      height: 300px;
    }
  }

  .contact {
    &__content {
      width: 60%;
    }
  }
}

@media (max-width: 768px) {
  header, footer, section {
    width: 576px;
  }
  .home {
    &__title {
      font-size: 40px;
      font-weight: 600;
    }
  }

  .contact {
    &__title {
      font-size: 24px;
    }

    &__subtitle {
      margin: 30px 0 15px;
    }
  }
}

@media (max-width: 576px) {
  section {
    width: 100%;
    padding: 0 5%;
  }
  footer {
    width: 100%;
    padding: 0 5% !important;
  }
  header {
    width: 100%;
    padding: 0 5% !important;
  }
  .reviews {
    &__row {
      flex-direction: column;
      row-gap: 30px;
    }

    &__card {
      width: 100%;
    }
  }

  .contact {
    flex-direction: column;
    row-gap: 30px;

    &__list {
      width: 100%;
    }

    &__content {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .header {
    column-gap: 20px;

    &__menu {
      column-gap: 10px;

      &_item {
        svg {
          width: 16px;
          height: 16px;
        }

        a {
          font-size: 14px;
        }
      }
    }
  }

  .home {
    &__img {
      height: 300px;
    }

    &__content {
      padding: 20px 0;
    }

    &__btn {
      width: 100%;
    }
  }

  .about {
    &__card {
      svg {
        width: 85px;
        height: 100px;
      }
    }
  }

  .banner {
    .swiper-slide {
      height: 200px;
    }
  }

  .contact {
    padding: 30px 20px;
    &__title {
      font-size: 20px;
      div {
        padding: 10px 0 0;
        svg {
          width: 30px;
          height: 30px;
        }
        &::after {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}